<% provide(:title, "Home") %>
<div class="slider">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <%=link_to image_tag("banner.png", class:"d-block w-100", alt:"first slide")%>
        <div class="carousel-caption d-none d-md-block">
          <h3><%=t("staticpages.home.welcome")%></h3>
          <button class="btn btn-danger"><%=t("staticpages.home.bookingtour")%></button>
        </div>
      </div>
      <div class="carousel-item active">
        <%=link_to image_tag("banner2.png", class:"d-block w-100", alt:"Second slide")%>
        <div class="carousel-caption d-none d-md-block">
          <h3><%=t("staticpages.home.welcome")%></h3>
          <button class="btn btn-danger"><%=t("staticpages.home.bookingtour")%></button>
        </div>
      </div>
      <div class="carousel-item">
        <%=link_to image_tag("banner3.png", class:"d-block w-100", alt:"Third slide")%>
        <div class="carousel-caption d-none d-md-block">
          <h3><%=t("staticpages.home.welcome")%></h3>
          <button class="btn btn-danger"><%=t("staticpages.home.bookingtour")%></button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"><%=t("staticpages.home.previous")%></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"><%=t("staticpages.home.next")%></span>
    </a>
  </div>
</div>
<div class="container">
  <div class="search mt-2">
    <div class="container">
      <div class=" row  p-3 d-flex justify-content-center">
        <div class="col-lg-3">
          <h3 style="font-size: 22px; font-weight: 400"><%=t("staticpages.home.where")%></h3>
        </div>
        <div class="col-lg-9">
          <form>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control">
              </div>
              <div class="col">
                <select id="inputState" class="form-control">
                  <option selected><%=t("staticpages.home.choose")%></option>
                  <option><%=t("staticpages.home.withinday")%></option>
                  <option>2 <%=t("staticpages.home.day")%></option>
                  <option>3-5 <%=t("staticpages.home.day")%></option>
                  <option>>5 <%=t("staticpages.home.day")%></option>
                </select>
              </div>
              <button class="btn btn-danger"><%=t("staticpages.home.search")%></button>
            </div>
          </form>
        </div>		
      </div>
    </div>
  </div>
  <!--begin section new tour-->
  <div class="section-content section-place mt-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-title text-center">
            <h3><%=t("staticpages.home.newtour")%></h3>
            <p><%=t("staticpages.home.newtourdescript")%></p>
          </div>
        </div>
      </div>
      <div class="row">
        <% for i in 0..2 do %>
          <div class="col-lg-4">
            <div class="place">
              <div class="thumb">
                <%= link_to image_tag("place1.png")%>
                <%= link_to "$500", "#", class:"price"%>          
              </div>
              <div class="place-content">
                <a href="destination_details.html"><h3>Korola Megna</h3></a>
                <p>United State of America</p>
                <div class="rating d-flex justify-content-between">
                  <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                  <div class="days">
                    <i class="fa fa-clock-o"></i>
                    <%= link_to ("5 "+t("staticpages.home.day")), "#"%>
                  </div>
                </div>
              </div>
            </div>	
          </div>
        <% end %>
      </div>
    </div>
  </div>
	<!--end section new tour-->
	<!--begin section polular tour-->
  <div class="section-content section-place">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-title text-center">
            <h3><%=t("staticpages.home.populartours")%></h3>
            <p><%=t("staticpages.home.populartoursdescript")%></p>
          </div>
      </div>
      </div>
      <div class="row">
        <% for i in 0..5 do %>
          <div class="col-lg-4">
            <div class="place">
              <div class="thumb">
                <%= link_to image_tag("place1.png")%>
                <%= link_to "$500", "#", class:"price"%>
              </div>
              <div class="place-content">
                <a href="destination_details.html"><h3>Korola Megna</h3></a>
                <p>United State of America</p>
                <div class="rating d-flex justify-content-between">
                  <span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                  <div class="days">
                    <i class="fa fa-clock-o"></i>
                    <%= link_to ("5 "+t("staticpages.home.day")), "#"%>
                 </div>
                </div>
              </div>
            </div>	
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <button class="btn btn-danger"><%=t("staticpages.home.more")%></button>
        </div>
      </div>
    </div>
  </div>
<!--end section popular tour-->
</div>