<div class="card ml-5">
  <div class="card-body">
    <h6><%= reply.user.name %>:</h6>
    <%= reply.cmt_content %>
    <div>
      <span>
      <% if logged_in? %>
        <%= link_to t("reviews.show.reply"), new_review_comment_path(@review, parent_id: reply.parent_id),
                                             remote: true %>
      <% end %>
      </span>
      <% if logged_in? %>
      <span class="float-right">
      <% if current_user.admin? %>
        <small><%= state_cmt(reply) %></small>
      <% else %>
        <small><%= link_to t("reviews.show.report"), report_comment_path(reply), method: :post, data: { confirm: t("users.index.confirm") } %></small>
      <% end %>

      <% if (current_user.admin? || reply.user_id == current_user.id) %>
        | <small><%= link_to t("reviews.show.delete"), reply, method: :delete, data: { confirm: t("users.index.confirm") } %></small>
      <% end %>
      </span>
      <% end %>
    </div>
  </div>
</div>