<div class="container bg-white">
  <div class="row d-flex  justify-content-center">
    <h3 class="mt-4"><%=t("statistic.index.title")%></h3>
  </div>
  <div class="row ">
    <%= link_to t("statistic.index.download"), statistics_path(format: :xlsx), class:"btn btn-info ml-4" %>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <%= column_chart @revenues.group_by_month(:updated_at, format: t("date.formats.by_month")).sum(:total),
                            height: "20rem", suffix: "$",
                            ytitle: t("chart.y_title"), title: t("chart.title1"),
                            messages: { empty: t("chart.empty") } %>
    </div>
    <div class="col-lg-6 col-md-6">
      <%= pie_chart @users.group(:admin).count, title: t("statistic.index.user") %>
    </div>  
  </div>

  <div class="row mt-4">
    <div class="col-lg-6 col-md-6">
      <%= column_chart @bookings.group_by_month(:updated_at, format: t("date.formats.by_month")).count,
                            height: "20rem",
                            ytitle: t("statistic.index.quantity"), title: t("statistic.index.titlebooking"),
                            messages: { empty: t("chart.empty") } %>
    </div>
    <div class="col-lg-6 col-md-6">
      <%= column_chart @reviews.group_by_month(:updated_at, format: t("date.formats.by_month")).count,
                            height: "20rem",
                            ytitle: t("statistic.index.quantity"), title: t("statistic.index.titlereview"),
                            messages: { empty: t("chart.empty") } %>
    </div>
  </div>
</div>