<div class="col-lg-4">
  <div class="place">
    <div class="thumb">
    <% if tour.images.attached? %>
      <% tour.images.each do |image| %>
        <%= link_to image_tag(image), tour_path(tour.id) %>
      <% end %>
    <% end %>
      <%= tour.price %>          
    </div>
    <div class="place-content">
      <%= link_to "#" do %>
        <h3><%= link_to tour.tour_name, tour %></h3>
      <% end %>
      <p><%= tour.description %></p>
      <p><%= tour.tour_amount %></p>
      <p>
        <% if tour.status? %>
          <%= t "tour.show.available" %>
        <% else %>
          <%= t "tour.show.full" %>
        <% end %>
      </p>
      <div class="rating d-flex justify-content-between">
        <div class="days">
          <i class="fa fa-clock-o"></i>
          <span><%= (tour.date_end - tour.date_begin).to_s + t("staticpages.home.day") %></span>
        </div>
      </div>
    </div>
    <% if current_user&.admin? %>
      <div>
        <%= link_to t('tour.index.update'), edit_tour_path(tour.id), {class:"btn btn-danger"} %>
        <%= link_to t('tour.index.delete'), tour, method: :delete, data: { confirm: "You sure?" } ,class:"btn btn-danger" %>
      </div>
    <%end%>
  </div>	
</div> 
