<div class="container-fluid">
  <div class="place">
    <div class="row place-content">
      <%= link_to @tour do %>
        <h3 class="font-weight-bold text-dark"><%=@tour.tour_name%></h3>
      <% end %>
    </div>
    <div class="thumb row">
      <% if @tour.images.attached? %>
        <% @tour.images.each do |image| %>
          <div class="col-lg-4">
            <%= link_to image_tag(image, class:"img-fluid", style:"height:250px"), tour_path(@tour.id) %>
          </div>
        <% end %>
      <% end %>          
    </div>
    <div class="place-content">
      <div class="row">
        <div class="col-lg-3">
          <h5>
            <i class="fas fa-money-bill-alt"></i>
            <span class="text-danger"><%= @tour.price %>$</span>
          </h5>
        </div>
        <div class="col-lg-2">
          <h5>
            <i class="fas fa-umbrella-beach"></i>
            <span><%= @tour.tour_amount %></span>
          </h5>
        </div>
        <div class="col-lg-3">
          <h5>
            <i class="fas fa-question"></i>
            <span>
              <% if @tour.status? %>
                <%= t "tour.show.available" %>
              <% else %>
                <%= t "tour.show.full" %>
              <% end %>
            </span>
          </h5>
        </div>
        <div class="col-lg-4">
          <h5>
            <i class="fas fa-clock"></i>
            <span><%= time_helper(@tour.time) %></span>
          </h5>
        </div>
      </div>
      <div>
        <label class="font-weight-bold"><%=t("tour.show.desc")%></label>
        <p><%= @tour.description %></p>
      </div>
    </div>
  </div>	
</div> 