<% provide(:title, "Tour") %>
<div class=container>
  <div class=row>
    <div class="section-content section-place mt-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="section-title text-center">
                <h3><%=t("tour.tour.tourlist")%></h3>
              </div>
            </div>
          </div>
          <div class=row>
            <%= will_paginate class:"ml-auto"%>
          </div>
          <div class="row">
            <% @tours.each do |tour| %>
              <div class="col-lg-4">
                <div class="place">
                  <div class="thumb">
                    <%= link_to image_tag("place1.png")%>
                    <%= link_to "$500", "#", class:"price"%>          
                  </div>
                  <div class="place-content">
                    <%= link_to "#" do %>
                      <h3><%=tour.tour_name%></h3>
                    <% end %>
                    <p>United State of America</p>
                    <div class="rating d-flex justify-content-between">
                      <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </span>
                      <div class="days">
                        <i class="fa fa-clock-o"></i>
                        <%= link_to ("5 "+t("staticpages.home.day")), "#"%>
                      </div>
                    </div>
                  </div>
                </div>	
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>