<% provide(:title, t("global.revenues")) %>
<%= form_with url: revenues_path, method: :get do |f| %>
  <div class="form-row d-flex justify-content-center align-items-center pt-3">
    <div class="col-auto">
      <p class="lead"><%= t "chart.search" %> </p>
    </div>
    <div class="col-auto">
      <%= f.select :month, (1..12).to_a, selected: params[:month] %>
    </div>
    <div class="col-auto">
      <%= f.select :year, years, selected: params[:year] %>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary mb-2" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
<% end %>
<% if params[:month]&.present? && params[:year]&.present? %>
  <%= line_chart @revenues.where("cast(strftime('%m', updated_at) as int) = ?", params[:month])
                          .where("cast(strftime('%Y', updated_at) as int) = ?", params[:year])
                          .group_by_day_of_month(:updated_at, format: t("date.formats.by_day")).sum(:total),
                          height: "20rem", suffix: "$",
                          ytitle: t("chart.y_title"), title: t("chart.title") + "#{params[:month]}/#{params[:year]}",
                          messages: { empty: t("chart.empty") } %>                           
  <hr class="mt-5 mb-5">
<% end %>
<%= line_chart @revenues.group_by_day_of_month(:updated_at, format: t("date.formats.by_day")).sum(:total),
                           height: "20rem", suffix: "$",
                           ytitle: t("chart.y_title"), title: t("chart.title2"),
                           messages: { empty: t("chart.empty") } %>                           
<hr class="mt-5 mb-5">
<%= column_chart @revenues.group_by_month(:updated_at, format: t("date.formats.by_month")).sum(:total),
                           height: "20rem", suffix: "$",
                           ytitle: t("chart.y_title"), title: t("chart.title1"),
                           messages: { empty: t("chart.empty") } %>
