<% provide(:title, t("category.category.title")) %>
<div class="container ">
    <div class="row d-flex justify-content-center">
      <h3><%=t("category.category.manage")%></h3>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 ml-auto">
        <%= link_to t("category.category.createbtn"), new_category_path, {class:"btn btn-info "} %>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
      <table class="table col-lg-4 text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"><%=t("category.category.name")%></th>
            <th scope="col"><%=t("category.category.action")%></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <th scope="row"><%=category.id%></th>
            <td><%=category.category_name%></td>
            <td>
              <%= link_to t("category.category.updatebtn"), edit_category_path(category.id), {class:"btn btn-danger"} %>
              <%= link_to t("category.category.deletebtn"), category, method: :delete, data: { confirm: "You sure?" } ,class:"btn btn-danger"%>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
    <%= will_paginate @collection, :previous_label =>  "<i class='fas fa-arrow-left'></i>" + t("global.previous"),
                               :next_label => t("global.next") + "<i class='fas fa-arrow-right'></i>" %>
</div>