<% provide(:title, t("category.category.createbtn")) %>
<% provide(:button_label, t("category.category.createbtn")) %>
<%= form_with(model: @category, local: true) do |f| %>
  <%= render "shared/error_messages", object: f.object %>   
  <%= f.label :category_name %>
  <%= f.text_field :category_name, class: "form-control" %>
  <%= f.label :parent_id %>
  <%= f.select :parent_id, options_for_select(@categories, @category.parent_id), { :prompt => t("category.category.select") }, {class: "form-control"}%>

  <select id="parent_2" name="parent_id_2" class="form-control">
    <option value=""><%=t("category.category.select")%></option>
  </select>
  
  <%= f.submit yield(:button_label), class: "btn btn-primary mt-4" %>
<% end %>

<script src="/js/category.js" defer></script>