<div class="container">
  <div class="row d-flex justify-content-center">
    <h1 class="md-heading"><%=@review.review_name%></h1>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10 text-center">
      <% if @review.image.attached? %>
        <%= link_to image_tag(@review.image, class:"img-fluid", alt:"image post"), @review%>
      <%else%>
        <%= link_to image_tag("place1.png", class:"img-fluid", alt:"image post"), @review%>
      <% end %>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-lg-10">
    <p><%=@review.review_content%></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 d-flex justify-content-end">
      <span><%=t("review.show.author")%></span>
      <span class="font-weight-bold"><%= @author.name %></span>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10">
      <span><%= @review.like_reviews.count %><span>
      <span><%=t("review.show.countlike")%></span>
      <%if logged_in?%>
        <%if (current_user.admin?||@review.user_id==current_user.id)%>
          <%= link_to t("review.edit.update"), edit_review_path(@review.id), {class:"btn btn-danger"} %>
          <%= link_to t("review.edit.delete"), @review, method: :delete, data: { confirm: "You sure?" } ,class:"btn btn-danger"%>
        <%end%>
      <%end%>
    </div>
  </div>
</div>