<div class="container">
  <div class="row d-flex justify-content-center">
    <h1 class="md-heading"><%= @review.review_name %></h1>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-lg-10 text-center">
      <% if @review.image.attached? %>
        <%= link_to image_tag(@review.image, class: "img-fluid", alt: "image post"), @review %>
      <% end %>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-4">
    <div class="col-lg-10">
      <p><%= @review.review_content %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 d-flex justify-content-end">
      <span>
        <%= t "reviews.show.author" %>
        <strong><%= @author.name %></strong>
      </span>
    </div>
  </div>
  
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10">
      <span><%= @review.like_reviews.size %><span>
      <span><%= t("reviews.show.count") %></span>
      <% if logged_in? %>
        <span class="float-right">
        <% if current_user.admin? %>
          <small><%= state(@review) %></small>
        <% else %>
          <small><%= link_to t("reviews.show.report"), report_review_path(@review), method: :post, data: { confirm: t("users.index.confirm") } %></small>
        <% end %> 
        
        <% if (current_user.admin? || @review.user_id == current_user.id) %>
          | <small><%= link_to t("reviews.show.edit"), edit_review_path(@review.id) %></small>
          | <small><%= link_to t("reviews.show.delete"), @review, method: :delete, data: { confirm: t("users.index.confirm") } %></small>
        <% end %>
        </span>
      <% end %>
    </div>
  </div>
</div>