<% provide(:title, t("review.edit.title")) %>
<% provide(:button_label, t("review.edit.update")) %>
<div class="row d-flex justify-content-center">
  <h3><%=t("review.edit.title")%></h3>
</div>
<%= form_with(model: @review, local: true) do |f|%>
  <%= render "shared/error_messages", object: f.object %>
      
  <%= f.label :review_name %>
  <%= f.text_field :review_name, class: "form-control" %>
      
  <%= f.label :review_content %>
  <%= f.text_area :review_content, class: "form-control" %>

  <%= f.label :category_id %>
  <%= f.select "category_id", options_from_collection_for_select(@categories, "id", "category_name", "1"), {}, {class: 'form-control'} %>
      
  <%= f.submit yield(:button_label), class: "btn btn-primary mt-4" %>
<% end %>