<%= form_with(model: @tour, local: true) do |f|%>
  <%= render "shared/error_messages", object: f.object %>
      
  <%= f.label :tour_name %>
  <%= f.text_field :tour_name, class: "form-control", placeholder: "Tour..." %>

  <div class="field mt-3 mb-2">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, accept: "image/jpeg,image/gif,image/png", class: "pl-3"%>
  </div>
      
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: t("tour.new.compose"), class: "form-control" %>
  
  <%= f.label :tour_amount %>
  <%= f.number_field :tour_amount, class: "form-control", placeholder: "10" %>
  
  <%= f.label :time %>
  <%= f.text_field :time, class: "form-control", placeholder: t("tour.new.helper") %>
      
  <%= f.label :price %> 
  <%= f.text_field :price, class: "form-control", placeholder: "100" %>
      
  <%= f.submit yield(:button_label), class: "btn btn-primary mt-4" %>
<% end %>