<header>
  <div class="container-fluid bg-dark">
    <nav class="container navbar navbar-expand-lg navbar-dark ">
      <%= link_to "Travel", root_path, class:"navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to root_path, :class => 'nav-link' do %>
              <%=t("staticpages.home.home")%> <span class="sr-only">(current)</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to t("staticpages.home.tour"), tours_path, class:"nav-link"%>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                                                         aria-haspopup="true" aria-expanded="false">
              <%=t("staticpages.home.reviews")%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to t("staticpages.home.places"), place_path, class:"dropdown-item"%>
              <%= link_to t("staticpages.home.food"), food_path, class:"dropdown-item"%>
            </div>
          </li>
          <% if logged_in? %>
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to t("global.users"), users_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown"
                                                           aria-haspopup="true" aria-expanded="false">
                <%= t("staticpages.home.account") %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <%= link_to t("staticpages.home.profile"), current_user, class: "dropdown-item" %>
                <%= link_to t("staticpages.home.setting"), "#" , class: "dropdown-item" %>
                <%= link_to t("staticpages.home.logout"), logout_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to t("staticpages.home.signin"), login_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to t("staticpages.home.signup"), signup_path, class:"nav-link"%>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "EN", {locale:"en"}, {class:"nav-link"} %>
          </li>
          <li class="nav-item">
            <%= link_to "VI", {locale:"vi"}, {class:"nav-link"} %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>